.wrapper-grid {
    height: 70vh;
    background-color: #f0efe9;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    p {

        font-size: 60px;
        text-align: center;

        @media(min-width: 1200px) {
            font-size: 120px;
        }

    }

    .page {
        font-size: 150px;
    }
}

.btn-black {
    margin-top: 50px;

    &:hover {
        background-color: transparent;
    }
}