.why-us {
    position: relative;

    .background-block {
        display: none;
        @media(min-width: 1200px) {
            display: inline-block;
            position: absolute;
            background-color: #f0efe9;
            width: 54%;
            height: 60%;
            max-width: 100%;
            bottom: 0;
            right: 0;
        }
    }
    
    .container {
        position: relative;

        .right {
            display: none;
            @media(min-width: 1200px) {
                display: inline-block;
                position: absolute;
                max-width: 100%;
                bottom: 18%;
                right: 0;
            }
        }

        .left {
            display: flex;
            flex-direction: column;

            .section-title {
                padding-bottom: 10px;
                text-align: center;
                
                @media (min-width: 1200px) {
                    max-width: 30%;
                    text-align: left;
                    padding-top: 60px;
                }
            }

        .strengths {
            align-self: center;

            @media (min-width: 1200px) {
                align-self: first baseline;
            }

            .info-text {
                display: flex;
                gap: 30px;
                margin-top: 35px;

                h3 {
                    color: #191919;
                    font-family: 'DM sans', sans-serif ;
                    font-weight: 700;
                    font-size: 22px;
                }

                .icon {

                    i {
                        border: 1px solid #DAD9D3;
                        border-radius: 50%;
                        font-size: 35px;
                        padding: 10px;
                    }
                }
            }
        }
        }
    }
}