.articles-news {

    .container {
        margin-top: 100px;

        .top {
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;
            text-align: center;

            @media (min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                text-align: left;
                
            }

            .section-title {
                padding-bottom: 30px;
                padding-top: 50px;
            }

        }

        .news {
            display: flex;
            flex-direction: column;
            gap: 60px;
            justify-content: center;

            @media(min-width: 1200px) {
                flex-direction: row;
            }

            .article {
                border-bottom: 1px solid #DAD9D3;
                text-align: center;
                text-decoration: none;
                color: #191919;

                @media(min-width: 1200px) {
                    border: none;
                }

                &:hover {
                    transition: 0.3s;
                    transform: scale(0.97);
                }
                

                @media (min-width: 1200px) {
                    text-align: left;
                }

                h3 {
                    font-family: 'DM sans', sans-serif ;
                    font-weight: 700;
                    font-size: 22px;
                }

                p {
                    margin-top: 20px;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        .nav-dots {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;

            .chev {
                padding-top: 20px;
                font-size: 20px;

                @media(min-width: 1200px) {
                    display: none;
                }
            }

            .page-dots {
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 60px;
                gap: 17px;
                font-size: 10px;
                

                
                div {
                    color: #191919;
                    opacity: 0.3;
                    text-decoration: none;

                }
                
                    .dot-1 {
                    color: #191919;
                    opacity: 1;
                }
            } 
        }
    }
}