.articles-news {

    .container {
        margin-top: 100px;

        .top {
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;
            text-align: center;

            @media (min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                text-align: left;

            }

            .section-title {
                padding-top: 50px;
            }
        }

        .news {
            padding: 5px;

            @media(min-width: 1200px) {
                flex-direction: row;
            }

            .text-holder {
                margin-left: 10px;
            }

            .img-holder {
                position: relative;
                max-width: 400px;
                margin: 0 auto;

                .banner {
                    position: absolute;
                    background-color: #F9D783;
                    padding: 10px;
                    top: 25px;
                    left: 15px;
                }
            }

            .article {
                border-bottom: 1px solid #DAD9D3;
                text-align: center;
                text-decoration: none;
                color: #191919;
                overflow: hidden;

                @media(min-width: 1200px) {
                    border: none;
                }

                &:hover {
                    transition: 0.3s;
                    transform: scale(0.97);
                }


                @media (min-width: 1200px) {
                    text-align: left;
                }

                h3 {
                    font-family: 'DM sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                }

                p {
                    margin-top: 20px;
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }
}